/**
* @Project: Cookie Consent
* @Author: Robin Danzinger, Martin Farkas
* @Date:   2020-01-29
* @Email:  info@websites-graphix.com
*/

// settings button
.cookieconsent__settings-button {
  position: fixed;
  bottom: 0;
  right: 50px;
  transform: translateY(15px);
  background-color: #aec067;
  border: 1px solid #aec067;
  padding: 5px 10px;
  color: #fff;
  font-size: 1.0rem;
  text-decoration: underline;
  &:hover {
    transform: translateY(0);
    cursor: pointer;
  }
}

// banner overlay
.cookieconsent__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(33,33,33,0.75);
  overflow: scroll;
  z-index: 99999999999999;
}

// banner
.cookieconsent-banner {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #fff;
  overflow: hidden;
  z-index: 999999999999999;
  @media (min-width: 600px) {
    .cookieconsent-banner {
      margin: 30px auto;
    }
  }
  .cookieconsent-banner__h3 {
    color: #333;
    line-height: 1.1;
    font-size: 1.3rem;
    margin: 0;
    padding: 0 0 15px;
  }
  .cookieconsent-banner__p {
    color: #333;
    line-height: 1.2;
    font-size: 1.0rem;
     a {
      color: #333;
      line-height: 1.1;
      font-size: 1.0rem;
      font-weight: 400;
      text-decoration: underline;
    }
  }
button.cookieconsent-banner__button--settings {
  color: #333;
  line-height: 1.1;
  font-size: 1.0rem;
  text-decoration: underline;
  margin: 30px 0 0;
  padding: 0;
  background: none;
  border: none;
}
.cookieconsent-banner__button {
  color: #fff;
  line-height: 1.1;
  font-size: 1.0rem;
  margin: 30px 0 0;
  padding: 5px 40px;
  background-color: #aec067;
  border: 1px solid #aec067;
  @media (max-width: 599px) {
      width: 100%;
    }
  }
}
@media (min-width: 600px) {
  button.cookieconsent-banner__button--settings {
    float: left;
  }
  .cookieconsent-banner__button {
    float: right;
  }
}

// settings
.cookieconsent-banner__settings {
  .cookieconsent-banner__settings-label--required {
    color: #9f9f9f;
  }
  .cookieconsent-banner__p {
    margin: 5px 0 0 22px;
    padding: 0 0 10px;
    a {
      display: block;
      margin: 0 0 30px 0;
    }
  }
}
.cookieconsent-banner input {
  cursor: pointer;
}
.cookieconsent-banner__settings-label {
  line-height: 1.2;
  font-size: 1.1rem;
  font-weight: 400;
}

// button modifier
.is-centered {
  display: block;
  float: none;
  margin: 30px auto 0;
}